
body{
    margin-top: 100px;
}

ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    
}

ul{
    padding: 0px;
    margin-bottom: 0px;
    width: 50%  ;
   
}

h1{
    text-align: center;
    padding-left: 30px;
}
input{border: none; width: 100%;}

.bi-x-circle{
    float: right;
}